extends ../layouts/layoutMain
include ../mixins/detailSideVideoBlock
include ../mixins/commentBlock
include ../partials/videoPlayer

block content
  main.video_detail 
    .video_section
      +videoPlayer({
        videoFileUrl: video.videoFileUrl,
      })
      .info
        .info_title
          h1.info_heading=video.title
        .info_row
          .info_column
            include ../partials/viewAndCreatedAt
          .info_btns
            button.btn_info_menu
              i(class="fas fa-thumbs-up")
              span LIKE
            button.btn_info_menu
              i(class="fas fa-thumbs-down")
              span DISLIKE
            button.btn_info_menu
              i(class="fas fa-share")
              span SHARE
            button.btn_info_menu
              i(class="fas fa-plus")
              span SAVE
            button.btn_info_menu
              i(class="fas fa-ellipsis-h")

        .channel
          a.channel_profile(href=routes.channel(video.creator.id))
            .channel_avatar
              img(src=`/${video.creator.avatarUrl}`, alt="")
            .channel_info
              h2.channel_creator=video.creator.username
              span.channel_subscribers 1K subscribers
          .channel_btns
            if loggedUser && video.creator.id === loggedUser.id
              button.btn_box.blue_point(type="button") 
                a(href=routes.editVideo(video.id)) EDIT VIDEO

        .description 
          p=video.description

      .comments
        .comments_header
          span#jsCommentsNumber #{video.comments.length}
          if (video.comments.length === 1) || (video.comments.length === 0)
            span  comment
          else
            span  comments
        .comments_form
          .comments_avatar
            img(src="", alt="")
          form.form_comments#jsAddCommentForm
            input(type="text", placeholder="Creator", name="creator", id="jsCreator", required)
            input(type="text", placeholder="Add a public comment...", name="text", id="jsText", required)
            button.btn_box.blue_point(type="submit") COMMENT

        .comments_contents#jsCommentsContents
          each comment in video.comments.reverse()
            +commentBlock({
              text: comment.text,
              creator: comment.creator,
              createdAt: comment.createdAt
            })

    .related_section
      each video in videos
        +detailSideVideoBlock({
          id: video.id,
          videoFileUrl: video.videoFileUrl,
          title: video.title,
          views: video.views,
          createdAt: video.createdAt,
          creator: video.creator,
        })
      