extends ../layouts/layoutMain
include ../mixins/detailSideVideoBlock

block content
  main.video_detail 
    .video_section
      .video_player
        video(src=`/${video.videoFileUrl}`, controls)

      .info
        .info_title
          h1.info_heading=video.title
        .info_row
          .info_column
            include ../partials/viewAndCreatedAt
          .info_btns
            button.btn_info_menu
              i(class="fas fa-thumbs-up")
              span LIKE
            button.btn_info_menu
              i(class="fas fa-thumbs-down")
              span DISLIKE
            button.btn_info_menu
              i(class="fas fa-share")
              span SHARE
            button.btn_info_menu
              i(class="fas fa-plus")
              span SAVE
            button.btn_info_menu
              i(class="fas fa-ellipsis-h")

        .channel
          .channel_profile
            .channel_avatar
              img(src=video.creator.avatarUrl, alt="")
            .channel_info
              h2.channel_creator=video.creator.username
              span.channel_subscribers 100K subscribers
          .channel_btns
            button.btn_box.blue_point(type="button") 
              a(href=routes.editVideo(video.id)) EDIT VIDEO

        .description 
          p=video.description

      .comments
        .comments_header -- comments
        .comments_form
          .comments_avatar
            img(src="", alt="")
          form.form_comments(action="", method="")
            input(type="text", placeholder="Add a public comment...")
            button.btn_box.blue_point(type="submit") COMMENT

        .comments_contents
          .comments_block
            .comments_avatar
              img(src="", alt="")
            .comments_column
              .comments_info
                span.comments_creator Creator
                span.comments_createat 2021.01.01
              p.comments_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsum error unde voluptatibus dolor molestias eligendi cumque reiciendis praesentium obcaecati.
          .comments_block
            .comments_avatar
              img(src="", alt="")
            .comments_column
              .comments_info
                span.comments_creator Creator
                span.comments_createat 2021.01.01
              p.comments_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
          .comments_block
            .comments_avatar
              img(src="", alt="")
            .comments_column
              .comments_info
                span.comments_creator Creator
                span.comments_createat 2021.01.01
              p.comments_text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ipsum error unde voluptatibus dolor molestias eligendi cumque reiciendis praesentium obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus labore esse aliquid?
          
    .related_section
      each video in videos
        +detailSideVideoBlock({
          id: video.id,
          videoFileUrl: video.videoFileUrl,
          title: video.title,
          createdAt: video.createdAt,
        })
      