mixin searchVideoBlock(video={})
  a.video_block(href=routes.videoDetail(video.id))
    .video_thumbnail
      video(src=video.videoFileUrl, controls)
    .video_info
      h3.info_title=video.title
      .info_data
        include ../partials/viewAndCreatedAt
      .info_profile
        .info_avartar
          img(src="", alt="")
        h4.info_creator=video.creator
      .info_description=video.description