header.header 
  .column_logo
    button.btn_none
      i(class="fas fa-bars")
    a.header_logo(href=routes.home)
      i.logo_symbol(class="fab fa-youtube")
      h1 Nettube
  .column_search
    form.search_form(action="/search", method="GET")
      input.header_search(type="text", name="search", placeholder="Search #bunny #sintel")
      button.header_search_btn(type="submit")
        i(class="fas fa-search")
  .column_menu
    ul.header_menu
      if !loggedUser
        li
          button.btn_header(type="button")
            a(href=routes.login) Log In
        li
          button.btn_header(type="button")
            a(href=routes.signup) Sign Up
      else
        li
          button.btn_header(type="button")
            a(href=routes.uploadVideo(loggedUser.id)) New Video
        li
          button.btn_header(type="button")
            a(href=routes.me(loggedUser.id)) My Account
        li
          button.btn_header(type="button")
            a(href=routes.logout) Log Out
